.target {
    background-color: #ededed;
    text-align: center;
    padding: 10px;
}

.barChart {
    background-color: #ededed;
    border: 1px solid black;
    height: 100%;
}

.corrMat {
    background-color: #ededed;
    border: 1px solid black;
    height: 100%;
}

.scatter {
    background-color: #ededed;
    border: 1px solid black;
    width: 100%;
}

.row {
    margin-bottom: 20px;
}
