.target {
    background-color: #ededed;
    text-align: center;
    padding: 10px;
}

.barChart {
    /* background-color: #ededed; */
    border: 2px solid #ededed;
    height: 100%;
}

.corrMat {
    /* background-color: #ededed; */
    border: 2px solid #ededed;
    height: 100%;
}

.scatter {
    /* background-color: #ededed; */
    border: 2px solid #ededed;
    width: 100%;
}

.row {
    margin-bottom: 20px;
}

.colorbar {
    width: 20px;
    height: 200px;
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}
